# Default ignored files
/shelf/
/workspace.xml
*.bkp
*.com
*.class
*.dll
*.exe
*.o
*.so


# Archivos locales
comandosGit.md
images/Gestion espectaculos TAP.drawio

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log


# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
*.jar
*.tar
*.gz
*.7z
*.rar
*.img
*.dockerfile

# Docker Compose
.env
docker-compose.override.yml

# PostgreSQL (volúmenes persistentes)
postgres-data/

# JSON DB
*.json


