# Default ignored files
/shelf/
/workspace.xml
*.bkp
*.com
*.class
*.dll
*.exe
*.o
*.so

# Archivos locales
#comandosGit.md
src/main/resources/static/images/Gestion espectaculos TAP.drawio

# Maven
target/
dependency-reduced-pom.xml
release.properties
*.releaseBackup
*.log
.mvn/timing.properties


# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
*.jar
*.tar
*.gz
*.7z
*.rar
*.img
*.dockerfile

# Docker Compose
.env
docker-compose.override.yml

# PostgreSQL (volúmenes persistentes)
postgres-data/

# JSON DB
*.json


