<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle del espectaculo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <a th:href="@{/espectaculo/home}">
            <button type="button">Volver al inicio</button>
        </a>
        <h2>Usuario: <span th:text="${#authentication.name}"></span>
            (<span th:text="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')') ? 'ADMIN' : 'USUARIO'}"></span>)</h2>
    </header>

    <h1 th:text="${espectaculo.artista}"></h1>

    <p th:text="${#temporals.format(espectaculo.fecha, 'EEEE d ''de'' MMMM ''de'' yyyy') + ' - ' + espectaculo.hora + 'hs'}"></p>
    <p th:text="'Duración: ' + ${espectaculo.duracionMin} + ' minutos'"></p>
    <p th:text="'Espacio: ' + ${espectaculo.espacio}"></p>
    <p th:text="'Tipo de show: ' + ${espectaculo.tipoShow}"></p>
    <p th:text="'Precio base: $' + ${espectaculo.precioBase}"></p>

    <div th:if="${espectaculo.fecha > hoy}">
        <form th:action="@{/entrada/comprar}" method="get">
            <input type="hidden" name="espectaculoId" th:value="${espectaculo.id}" />
            <button type="submit">Comprar entrada</button>
        </form>
    </div>
    <div th:if="${espectaculo.fecha <= hoy}">
        <p class="error">El evento ya pasó.</p>
    </div>
    <br>
    <div th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
        <form th:action="@{'/espectaculo/eliminar/' + ${espectaculo.id}}" method="post">
            <input type="hidden" name="espectaculoId" th:value="${espectaculo.id}" />
            <button type="submit" onclick="return confirm('Esto eliminará todas las entradas vinculadas \n¿Eliminar este espectáculo?')">Eliminar</button>
        </form>
    </div>
    <br>
    <footer>
        <a th:href="@{/logout}">
            <button type="button" onclick="return confirm('¿Cerrar sesion?')">Cerrar sesion</button>
        </a>
    </footer>
</body>
</html>