<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>teatro - inicio</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <h2>Bienvenido,
            <span th:text="${#authentication.name}"></span>
            (<span th:text="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')') ? 'Administrador' : 'Usuario'}"></span>)
        </h2>
        <a th:href="@{/entrada/mis-entradas}">
            <button type="button">Ver mis entradas</button>
        </a>
    </header>

    <h1>Próximos Espectáculos</h1>

    <hr/>

    <div th:if="${#lists.isEmpty(espectaculos)}">
        <h3>No hay espectaculos programados</h3>
    </div>

    <div th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
        <a th:href="@{/espectaculo/cargar}">
            <button type="button">Cargar espectaculo</button>
        </a>
        <br>
    </div>

    <div th:each="espectaculo : ${espectaculos}" class="contenedor-espectaculo">
        <h3 th:text="${espectaculo.artista}"></h3>
        <p th:text="${#temporals.format(espectaculo.fecha, 'EEEE d ''de'' MMMM ''de'' yyyy') + ' - ' + espectaculo.hora + 'hs'}"></p>
        <p th:text="'Espacio: ' + ${espectaculo.espacio}"></p>
        <p th:text="'Precio base: $' + ${espectaculo.precioBase}"></p>
        <p th:text="'Tipo de show: ' + ${espectaculo.tipoShow}"></p>

        <a th:href="@{'/espectaculo/' + ${espectaculo.id}}">
            <button type="button">Ver espectaculo</button>
        </a>
        <br>
    </div>

    <footer>
        <a th:href="@{/logout}">
            <button type="button" onclick="return confirm('¿Cerrar sesion?')">Cerrar sesion</button>
        </a>
    </footer>
</body>
</html>