<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>gestion teatro login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h2>Iniciar sesión</h2>
    <!-- Botón que redirige al formulario de registro -->
    <a th:href="@{/registro}">
        <button type="button" class="boton_login">Crear usuario</button>
    </a>
    <br><br>
    <!-- Formulario de login -->
    <form method="post" th:action="@{/login}">
        <label>Nombre de usuario:</label>
        <input type="text" required="" name="username" /><br>

        <label>Contraseña:</label>
        <input type="password" required="" name="password" /><br>

        <div th:if="${param.error}" class="error">
            Usuario o contraseña incorrectos.
        </div>

        <br>
        <button type="submit">Ingresar</button>
    </form>
    <br>
</body>
</html>
