<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de usuario</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h2>Registrar un nuevo usuario</h2>

    <p>Ya tengo un usuario</p>
    <a th:href="@{/login}">
        <button type="button" class="boton_login">Volver al login</button>
    </a>
    <br>

    <form method="post" th:action="@{/registro}">
        <label>Nombre de usuario:</label>
        <input type="text" required="" name="username" /><br>

        <label>Contraseña:</label>
        <input type="password" required="" name="password" /><br>

        <div th:if="${exito}" class="exito" th:text="${exito}"></div>
        <div th:if="${error}" class="error" th:text="${error}"></div>

        <br>
        <button type="submit">Registrar usuario</button>
    </form>
</body>
</html>
