# Default ignored files
/shelf/
/workspace.xml

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# OS generated
.DS_Store
Thumbs.db

# Docker
*.jar
*.tar
*.gz
*.img
*.dockerfile

# JSON DB
*.json

