# Default ignored files
/shelf/
/workspace.xml
# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# OS generated
.DS_Store
Thumbs.db

# Docker
*.jar
*.tar
*.gz
*.img
*.dockerfile

# Docker Compose
.env
docker-compose.override.yml

# PostgreSQL (volúmenes persistentes)
postgres-data/

# JSON DB
*.json
